apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: kubernetes-dashboard-ingress-tls
  namespace: kube-system
data:
  tls.crt: {{ selfsignedcrt.stdout | b64encode }}
  tls.key: {{ selfsignedkey.stdout | b64encode }}
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: kubernetes-dashboard-ingress
  namespace: kube-system
  labels:
    k8s-app: kubernetes-dashboard
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/secure-backends: "true"
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    ingress.kubernetes.io/ssl-passthrough: "true"
    nginx.org/ssl-backends: "kubernetes-dashboard"
    #kubernetes.io/ingress.allow-http: "false"
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    nginx.ingress.kubernetes.io/configuration-snippet: |
      rewrite ^(/dashboard)$ $1/ permanent;
spec:
  tls:
  - hosts:
    - {{ domain_name }}
    #- {{ hostvars['kubemaster0']['inventory_hostname'] }}
    secretName: certificate-prod-dashboard
  rules:
  - host: {{ domain_name }}
  #- host: {{ hostvars['kubemaster0']['inventory_hostname'] }}
    http:
      paths:
      - path: /dashboard/?(.*)
        backend:
          serviceName: kubernetes-dashboard
          servicePort: 443
